/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/11/2017, 13:59:18
    Author     : eduardo.bmota
*/

/*
    CSS customizado relativo a pagina index.html
*/
/* 
    Created on : 09/11/2017, 16:07:38
    Author     : cesar.aojunior
*/

/*
CSS responsavel pelo comportamento do index.html
*/
/* 
    Created on : 24/10/2017, 14:25:43
    Author     : cesar.aojunior
*/

/* Gradiente do Body */
body { background-image: url('../banner_img/planodefundo3.jpg'); 
       background-size: 100% 100%; 
       background-repeat: no-repeat;       

     }

/* Divisao Cabeçalho (Header) */
#header 
{
    max-width: 852px;
    margin: 0 auto;
}

#header .header-logo img
{
    max-width: 180px;
    margin: 20px 30px;
}

#header .header-social-media
{
    background-image: url('../images/logo.png');
    max-width: 750px;
    height: 215px;
}
#header .header-social-media a
{
    text-decoration: none;
    color: #fff;
    padding: 8px;
    margin: 5px;
}

#header .header-social-media a:hover
{
    background-color: #C0BECC;
}

/* Menu */
#header .header-menu ul 
{
    list-style-type: none;
}

#header .header-menu ul li
{
    display: inline;
    padding: 17px 9%;
    background-color: #ccc;
}

#header .header-menu ul li:hover
{
    background-color: aquamarine;
}

#header .header-menu ul li a
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: serif;
}

#header .navbar.navbar-default
{
    max-width: 750px;

    
}

/* Nav*/
#nav
{
    max-width: 852px;
    margin: 30px auto;
    height: 420px;
    /*border: solid 1px; remover depois (linha guia)*/
}

#nav #nav-grande
{
   width: 202px;
/*   margin-left: 40px;*/
   padding: 0px;
   height: 241px;;
   float: left;
}

#nav #nav-grande img
{
    max-width: 165px;
    border: solid #fff;
    float: left;
    margin: 7px;    
}

#nav #nav-grande p
{
    text-align: justify;
    padding: 8px;
}

#nav #nav-grande a
{
    float: right;
}

#nav #nav-grande a:hover
{
    background-color: bisque;
    color: black;
}

#nav .nav-pequeno 
{
    border: 17px solid #fff;
    width: 348px;
    float: left;
    margin: 0 15px 8px;
    height: 312px;
    
}

#nav .nav-pequeno img 
{
    max-width: 297px;
    float: left;
    margin: 15px;
}

#nav .nav-pequeno p
{
    padding: 10px;
    text-align: justify;
}

#nav .nav-pequeno a
{
    display: block;
    float: right;
    width: 84px;
    border: 1px solid bisque;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    color: #000;
    background: bisque;
    border-radius: 6px;
    margin: 25px -9px 10px;
}

#nav .modal-header p b span
{
    color: red;
}

/*#footer 
{
    max-width: 780px;
    margin: 0 auto;
}

#footer p 
{
    text-align: center;
}

#footer .nav.navbar-nav
{
    float:none;
    padding-top: 15px;
}
.container-fluid
{
    padding-left: 28%;
}*/

#footer 
{
    max-width: 748px;
    height: 10px;
    float: left;
    margin: 0 23%;
    overflow: hidden;
}

#footer p 
{
    text-align: center;
    max-width: 700px;
}

#footer .nav.navbar-nav
{
    float:none;
    padding-top: 15px;
    margin: 0;
    width: 100%;
}


.container-fluid
{
    padding-left: 28%;
}

.modal-header
{
    padding: 15px;
    border-bottom: 0px;
}

p
{
    margin: 0px 7px 0px;
}

/*#banner
{
    margin: 0 auto;
    width: 852px;
}*/

.btn-primary 
  {
    color: #000;
    background-color: bisque;
    border: none;
    
  }  

  .btn
  {
      padding: 10px 11px;
  }
/*.btn btn-primary a:hover
{
    background-color: #303018;
}*/

.modal-header 
{
    padding: 15px;
    border-bottom: 0px;
}

.modal-content
{
    float: left;
    margin: 21px;
    width: 332px;
}

span style
{
    color: red;
}